.wrapper.wrapper2 {
	padding-bottom: 138px;
}

.box {
	border-radius: 0;
	padding: 22px 16px 20px;

	&:not(:last-child) {
		margin-bottom: 8px;
	}
}

h3 {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 16px;

	&::before {
		content: "";
		width: 16px;
		height: 16px;
		margin-right: 4px;
	}

	&.calculator {
		&::before {
			background: url('../img/ico-calculator.png') no-repeat center;
		}
	}

	&.shopbag {
		&::before {
			background: url('../img/ico-shopbag.png') no-repeat center;
		}
	}

	&.bell {
		&::before {
			background: url('../img/ico-bell.png') no-repeat center;
		}
	}
}

/* notification_wrap */
.notification_wrap {
	li {

		&:not(:first-child, :last-child) {
			margin-bottom: 18px;
		}

		&:nth-child(1) {
			border-bottom: 1px solid #f4f4f4;
			padding-bottom: 16px;
			margin-bottom: 16px;
		}

		/* inactive */
		&.inactive {
			.title {
				color: #aaa;
			}

			.cont {
				color: #aaa;
			}
		}

		.title_wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.title {
			position: relative;
			display: flex;
			align-items: center;
			font-size: 16px;
		}

		.cont {
			font-size: 14px;
			font-weight: 300;
			color: #777;
			margin-top: 6px;
		}
	}
}

/* info */
.info {

	.info_btn {
		display: flex;
		align-items: center;
		background-color: transparent;
		margin-left: 8px;

		&::after {
			content: "";
			width: 16px;
			height: 16px;
			background: url('../img/ico-question.svg') no-repeat center;
			cursor: pointer;
		}

		&:hover+.info_box {
			display: block;
		}
	}

	.info_box {
		position: absolute;
		display: none;
		top: 33px;
		left: 0;
		font-size: 14px;
		font-weight: 300;
		border-radius: 8px;
		border: 1px solid #ddd;
		background-color: #fff;
		padding: 12px 30px 12px 12px;
		z-index: 1000;
		white-space: nowrap;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);

		&::before {
			content: '';
			position: absolute;
			left: 100px;
			top: -20px;
			border-top: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid #ddd;
			transform: rotate(-90deg);
		}


		&::after {
			content: '';
			position: absolute;
			left: 102px;
			top: -16px;
			border-top: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 8px solid #fff;
			transform: rotate(-90deg);
		}

		p {
			line-height: 1.29;
		}

		button {
			position: absolute;
			top: 12px;
			right: 12px;
			width: 15px;
			height: 15px;
			background-color: transparent;

			img {
				vertical-align: top;
			}
		}
	}
}

/* switch */
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 28px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch .slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 54px;
	background-color: #ddd;
	transition: all 0.4s;
	cursor: pointer;
}

.switch .slider:before {
	position: absolute;
	content: "";
	bottom: 2px;
	left: 3px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.4s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.switch input:checked+.slider {
	background-color: #f53b3b;
}

.switch input:checked+.slider:before {
	transform: translateX(16px);
}